.Home{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 210px;
    background: linear-gradient(100deg,#212123 90%, transparent 93%);
}

.Home_Contain-Title{    
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Home_title{    
    font-size: 50px;
}

.CustomGame{
    color: #8f61db;
}
.Home_Contain-Title p { 
    font-size: 25px;
}

.Home_Image{    
    width: 500px;
    border-radius: 15px;
}



@media screen and (max-width:1310px) {
    .Home_Image{    
        width: 400px;
    }
}

@media screen and (max-width:1190px) {
    .Home{  
        padding: 150px;
    }
}

@media screen and (max-width:1076px) {
    .Home {
        padding: 100px;
        flex-direction: column;
        gap:50px;
    }
}
@media screen and (max-width:540px) {
    .Home_Image {
        width: 300px;
    }
}