.singup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212123;
    padding: 140px;
}

.TitleForm {
    font-size: 20px;
}

.SingUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 300px;
    padding: 50px;
    border-radius: 15px;
    background-color: #414142;
}

.ContainerItems{    
    width: 100%;
    display: flex;
    flex-direction: column;
}

.singUpLabelForm {
    font-size: 20px;
}

.singUpInputForm {
    border-radius: none;
    border-radius: 10px;
    outline: none;
    color: #212123;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
}

.singUpButtonForm {
    background-color: #945ed5;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 20px;
    font-size: 15px;
}