.Nav{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 10px 200px;
}

.Logo{  
    width: 70px;
    cursor: pointer;
}

.Nav_Buttons{   
    display: flex;
    gap: 20px;
}

.Buttons_Nav{   
    background-color: #945ed5;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

@media screen and (max-width:814px) {
    .Nav{   
        padding: 10px 100px;
    }
}

@media screen and (max-width:540px) {
    .Nav {
        padding: 10px 50px;
    }
}

@media screen and (max-width:402px) {
    .Nav {
        padding: 10px 20px;
    }
}
