.Nav{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 0px 100px;
}

.Logo{  
    width: 100px;
    cursor: pointer;
}

.Nav_Buttons{   
    display: flex;
    gap: 20px;
}

.Buttons_Nav{   
    background-color: #945ed5;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}